doctype html
head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width')
    title
    style.
body(style='width: 600px; margin: auto; background: white')
    // Header for Mobius logo
    table(role='presentation' align='left' style='border-bottom: 1px solid' width='100%')
        tr
            td(style='padding: 30px;')
            img(alt='Mobius logo' src='C:\Users\Tochukwu\Desktop\mobius-email.png' width='200px')
    block content
