extends email

block content
    // Email Subject
    table(role='presentation' align='left' width='100%')
        tr
            td(style='padding: 15px 30px 0px 30px; text-align: center;')
                h1 Welcome to the Mobius Newsletter
    // Email Body
    table(role='presentation' align='left' width='100%')
        tr
            td(style='padding: 0 30px 15px 30px;')
                img(src='cid:welcome-blue' alt='Padlock icon in shield' width='100%')
                p
                    | What do you think of when you think of learning? Who are those involved? At Mobius, everyone is on the same side for learning.
                p
                    | This means whether you're a consumer or creator, parent or child, teacher or student, we are all on the journey to continuous learning. The Mobius Newsletter is one avenue for all of us to communicate together and to stay in the loop of what's being developed as well as happening. If you're registered already, you'd have access to more offerings for the courses you're in and highlights of the Student Creation process. If you're not, we're awaiting you so 
                    a(href="mobius-org.netlify.com" style="color: #00B7AB") head on to our website 
                p
                    | Let's roll, 
                    br
                    span(style='font-weight:bold; margin-top: 1em;') Mobius
