extends email

block content
    // Email Subject
    table(role='presentation' align='left' width='100%')
        tr
            td(style='padding: 15px 30px 0px 30px; text-align: center;')
                h1 Mobius Password Reset
    // Email Body
    table(role='presentation' align='left' width='100%')
        tr
            td(style='padding: 0 30px 15px 30px;')
                img(src='https://res.cloudinary.com/mobius-kids-org/image/upload/v1651507779/email%20attachments/forgot-password.gif' alt='Bear looking at password' width='100%')
                p
                    | We&apos;ve received your request to change your password. To do so, click the button below.
                a(style='background-color: #00B7AB; display: inline-block; color: #FFFFFF; padding: 14px 25px; border-radius: 10px; text-align: center; text-decoration: none' href='https://mobius-netlify.org/password-reset-qejnrf3irfwlktf3') Change your password
                p Or copy and paste the URL into your browser
                a(style='color:#00B7AB;' href='https://mobius-netlify.org/password-reset-qejnrf3irfwlktf3') https://mobius-netlify.org/password-reset-qejnrf3irfwlktf3
                p If you did not request a password reset, you can safely ignore this email.
                p
                    | Thanks, 
                    br
                    span(style='font-weight:bold; margin-top: 1em;') Mobius
