extends email

block content
  tbody
    tr
      td(style='text-transform: capitalize') Hello #{name}, you requested for a password reset.

    tr
      td Click the button below to reset your password.

    tr
      td(style='padding-left: 50px') #[button(type='submit' style='background-color: #F80; border-radius: 10%; width:80px; height:30px; margin: 0 auto')  #[a(href=`${link}` style='text-decoration: none') Reset]]

    tr
      td If the button is not working copy the link below to your browser to visit the password reset page.
    tr
      td The link will expire in 20 minutes and can only be used once!.
    tr
      td=link
